// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

// @import "ui-variables";
// @import "tree-view";

terminal-list-view {
  display: flex;
  .header {
    margin-top: 10px;
    img {
      width: 22px;
      padding-right: 5px;
    }
    margin-left: 21px;
  }
  ul {
    margin-left: -24px;
    list-style-type: none;
    margin-top: 5px;
  }
} 
